/* organisation générale de ma page*/
body {
  font-family: 'Source Sans Pro', Verdana, sans-serif;
  font-size: 14px;
  color: #3a3b3c;
  width: 50%;
  margin: 0 auto;
  display: flex;
  border: 1px solid black;
}

/*partie gauche / liseret */
.liseret {
  width: 30%;
  background: #e1bee7;
  font-weight: bold;
}

img {
  border-radius: 49%;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  width: 150px;
  height: 150px;
}

/*à propos de moi*/
#presentation {
  padding-bottom: 200px;
}

h3 {
  text-align: center;
  color: #e1bee7;
  background-color: #3a3b3c;
  font-size: 20px;
}

h3+p {
  text-align: justify;
  padding-left: 40px;
  padding-right: 40px;
}

ul {
  list-style: none;
}

/*icones loisirs - bas de page*/
#loisirs {
  padding-bottom: 20px;
}

.loisirs {
  display: flex;
  justify-content: space-around;
}

i.leisure {
  border-radius: 50px;
  border: 1px solid black;
}

/*partie centrale de la page*/
main {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}

.prenom {
  color: #e1bee7;
}

.jobtitle {
  text-decoration: underline solid #e1bee7;
}

#nom {
  line-height: 0.5em;
  padding-top: 50px;
}

h1 {
  font-size: 40px;
}

h1+p {
  font-size: 22px;
  font-weight: bold;
}

/*titres centraux et icones avec fontawesome*/
.icone {
  color: #e1bee7;
  display: inline-block;
  margin-right: 1em;
}

h2 {
  border-bottom: 2px solid #e1bee7;
  font-size: 20px;
}

/*bloc formation et expérience*/
.formation {
  display: flex;
  flex-direction: row;
}

.date {
  width: 20%;
  padding-right: 50px;
  font-weight: bold;
}

.etablissement {
  width: 80%;
  text-align: justify;
}

.dotcircle {
  color: #e1bee7;
  margin-right: 1em;
}

.circle {
  color: #e1bee7;
  margin-right: 1em;
}

/*Bas de page / partie recommandations*/
#recommandations {
  padding-top: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 10px;
}

.reference {
  line-height: 0.5em;
}

/* partie responsive - Laptot */
/*
@media all and (max-width: 1024px) {
  body {
    font-size: 12px;
    padding-bottom: 0;
    margin: 0;
  }

  .wrap {
    width: 100%;
    border: none;
  }

  .liseret {
    width: 20%;
    margin-top: -1px;
  }

  .contenu {
    width: 75%;
    padding: 0;
    font-size: 12px;
  }

  #photo {
    width: 20%;
  }

  img {
    width: 100px;
    height: 100px;
  }

  h1 {
    font-size: 28px;
    padding: 10px;
  }

  #nom {
    padding-bottom: 30px;
  }

  h2, h3 {
    font-size: 18px;
  }

  .icone {
    margin-right: 0.5em;
  }

  .date {
    width: 20%;
  }

  .etablissement {
    width: 80%;
  }

  .container {
    padding-right: 30px;
  }

  #recommandations {
    padding-top: 10%;
  }

  #loisirs {
    padding-top: 350px;
  }
}

/*partie Responsive - Tablettes*/
/*
@media all and (max-width: 768px) {
  main {
    width: 100%;
  }

  .contenu {
    width: 70%;
    padding: 1em;
  }

  img {
    width: 80px;
    height: 80px;
  }

  ul {
    padding-left: 0.5em;
  }

<<<<<<< HEAD
=======
  .contenu {
    margin-left: -1em;
    font-size: 10px;
  }
>>>>>>> parent of 35d675e... debut responsive 355px
  .date {
    width: 100px;
  }
  .etablissement {
    width: 100%;
  }
<<<<<<< HEAD

  .container {
    font-size: 12px;
=======
  .reference {
    padding-right: 10px;
>>>>>>> parent of 35d675e... debut responsive 355px
  }

  #recommandations {
    padding-top: 15px;
  }

  .liseret {
    font-size: 10px;
  }

  h3 {
    padding: 0;
    font-size: 14px;
  }

  h3+p {
    padding: 5px 5px;
  }
  i.leisure {
    font-size: 15px;
    padding: 5px;
<<<<<<< HEAD
    margin: 0 10px;
  }

  #loisirs {
    padding-top: 450px;
  }
}


/* responsive pour smartphone*/
/*
@media all and (max-width: 355px) {
  header {
    display: flex;
    flex-direction: column;
  }

  main {
    display: flex;
    flex-direction: column-reverse;
  }

  #photo {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #nom {
    padding: 1em 0;
  }

  h1 {
    font-size: 20px;
  }

  h1+p {
    font-size: 18px;
  }

  h2 {
    font-size: 16px;
  }

  .date {
    width: 60px;
  }

  .contenu {
    width: auto;
    margin: 0;
  }

  .dotcircle, .circle {
    margin-right: 0.5em;
    font-size: 0.4em;
  }

  .reference {
    font-size: 10px;
    padding: 5px 5px;
    line-height: 1em;
  }

  .container {
    margin: 0 auto;
  }

  .liseret {
    width: 100%;
  }

  #loisirs {
    padding: 10px 0 10px 0;
  }
