/* organisation générale de ma page*/
body
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
	color: #3a3b3c;
	margin:auto;
	border: 1px solid black;
	max-width: 900px;
}

.wrap
{
    display: flex;
    width: 100%;
}

.liseret
{
    width:30%;
    background:#e1bee7;
		font-weight:bold;
}

/*partie gauche, le liseret */
img
{
	border-radius: 60px;
	width: 120px;
	height: 120px;
	margin-left: 30%;
	margin-top: 30%;
}
/*à propos de moi*/
h3
{
	font-size: 20px;
	text-align: center;
	color:#e1bee7;
	background-color:#3a3b3c;
	padding-left: 10px;
	padding-right: 10px;
}

h3+p
{
	text-align: justify;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 310px;
	}

ul
{
	list-style: none;
}

/*icones loisirs*/
.loisirs
{
	display: flex;
	justify-content: space-around;
	margin:auto;
}

#leisure
{
	border-radius: 60px;
	border: solid 1px black;
}

/*partie droite, contenu de la page*/
.contenu
{
	width:70%;
  padding-left: 20px;
  padding-right:20px;
  font-size: 14px;
}

/*bloc formation*/
.formation
{
	display: flex;
	flex-direction:row;
}

.date
{
	width: 150px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.etablissement
{
	width:500px;
	text-align:justify;
}

/*première section avec nom + métier */
.prenom
{
	color: #e1bee7;
}

h1
{
	font-size: 38px;
}

h1+p
{
	font-size: 18px;
	font-weight: bold;
}

/*ligne horizontale*/
.jobtitle
{
	text-decoration: underline solid #e1bee7;
}

/*section centrale du CV*/
h2
{
	border-bottom: 2px solid #e1bee7;
}

ul
{
	list-style: none;
}

#dotcircle
{
	color:#e1bee7;
}

#circle
{
	color:#e1bee7;
}

.recommandations
{
	display: flex;
	flex-direction:row;
	justify-content: space-around;
}

/*illustration des titres avec fontawesome*/
#icone
{
	color: #e1bee7;
	display: inline-block;
	margin-right: 2em;
}

/* partie Responsive -media queries */
@media screen and (max-width: 680px)
